.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
  flex-wrap: wrap;

  &__btn {
    border: 1px solid black;
    min-width: 40px;
    height: 40px;
    padding: 0 12px;
    background: $white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &:hover {
      background: #f3f4f6;
    }

    &Active {
      color: $white;
      border-color: $supportive;
      background: $supportive;

      &:hover {
        background: $supportive;
      }
    }
  }
}
