.container {
  height: 50vh;
  background: lightblue;
  padding: 40px;
}
// -------------------------------
// 1) переменные
// SCSS

// $primary: red;
// $radius: 8px;

// .container {
//   color: $primary;
//   border-radius: $radius;
// }

// CSS
// :root {
//   --primary: red;
//   --radius: 8px;
// }

// .container {
//   color: var(--primary);
//   border-radius: var(--radius);
// }

// ---------------------------
// вложенность

// css
// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .container__text {
//   font-size: 20px;
// }

// .container__text:hover {
//   color: red;
// }

// SCSS
// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   &__text {
//     font-size: 25px;

//     &:hover {
//       color: red;
//     }
//   }
// }

// ------------------------------------

// Миксины - кусок стилей (как функции)

// @mixin flex-center($direction: row) {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 20px;
//   flex-direction: $direction;
// }

// .card1,
// .card2 {
//   width: 100px;
//   height: 100px;
// }

// .card1 {
//   background: red;
//   @include flex-center(column);
// }

// .card2 {
//   background: green;
//   @include flex-center(row-reverse);
// }

// -------------------------------
// наследование

%base-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  @extend %base-btn;
  background: blue;
}

.btn-danger {
  @extend %base-btn;
  background: red;
}

.text {
  color: blue !important;
}
