.main-page {
  padding: 20px;
}

.main-page_title {
  margin: 0 0 20px;
  font-size: 28px;
  color: #222;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
}

.main-page_search {
  margin-bottom: 60px;
}
